body {
  text-align: center;
  background: silver;
  font-family: 'Rammetto One', cursive;
}
li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  color: black;
}

.label {
  font-weight: bold;
  font-family: Roboto;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
